%h1 ReservationFrames#index
%p Find me in app/views/reservation_frames/index.html.haml
= form_with model:@reservation_frames, url: teachers_index_path do |f|
  - t = Time.current.beginning_of_day
  .row.border
    .col.border
      .row.border{ style: "height: 5%; align-items: center;" }
        .col.border
          Time
      - 24.times do |num|
        .row.border{ style: "height: 5%; align-items: center;" }
          .col.border
            = l t + num.hours, format: :hour
    - 7.times do |num|
      .col.border
        .row.border{ style: "height: 5%; align-items: center;" }
          .col.border
            = l t + num.day, format: :day
        - 24.times do |num|
          .row.border{ style: "height: 5%; align-items: center;" }
            .col.border
              .form-check
                = f.check_box 'freezeflag', {class:"form-check-input"}, true, false
                %label.form-check-label=num