%h2 Teachers#index
.row
  = form_with model:@teacher_search_form, scope: :teacher_search_form, url: teachers_search_path, method: :get do |f|
    .mb-3
      = f.label :email, class: "form-label"
      = f.text_field :email, class: "form-control"
    .mb-3
      = f.submit t('search'), class: "btn btn-primary btn-sm"
.row
  %table.table
    %thead
      %tr 
        %th{"scope": "col"}#
        %th{"scope": "col"}E-Mail
    %tbody
      - @teachers.each.with_index(1) do | teacher, n |
        %tr
          %th{"scope": "row"}=n
          %td=teacher.email
